.Header{
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    position: absolute;
    top: 0;

    background-color: rgb(78, 78, 78);
    color: aliceblue;
}

.Header img{
    width: 10vh;
    height: 10vh;
}

.teste{
    filter: invert(1);
}