._Category{
    margin-top: 20vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.products_area{
    width: 90vw;
    height: 80vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

@media screen and (max-width: 767px) {
    .products_area{
        gap: 3rem;
    }
}