.CartProduct{
    width: 20vw;
    height: 20vh;

    border: 2px solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    
    background-color: rgb(78, 78, 78);
    color: aliceblue;
    border: 2px solid gray;
    border-radius: 5px;
}

.CartProduct h2{
    margin-block-end: 0em;
}

.CartProduct .price_area{
    width: 85%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}