.Category{
    width: 20vw;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(78, 78, 78);
    border: 2px solid gray;
    border-radius: 5px;

    color: aliceblue;
}

@media screen and (max-width: 767px) {
    .Category{
        width: 85vw;
        height: 20vh;

        font-size: 3rem;
    }
    
}